<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Толщина листа, мм</span>
        <input type="text"
               id="sheet_thickness"
               class="form-control"
               aria-describedby="basic-addon1"
        >
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Высота забора, м</span>
        <input type="text"
               id="fence_height"
               class="form-control"
               aria-describedby="basic-addon1"
        >
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Покрытие</span>
        <select id="coating"
                class="form-select"
        >
            <option value="1">Одностороннее</option>
            <option value="2">Двухстороннее</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Длина забора, м</span>
        <input type="text"
               id="fence_length"
               class="form-control"
               aria-describedby="basic-addon1"
        >
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Наличие ворот</span>
        <select id="the_presence_of_agate"
                class="form-select"
        >
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Наличие калиток</span>
        <select id="the_presence_of_wickets"
                class="form-select"
        >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Забор укрепление лагами</span>
        <select id="fence_strengthening_with_logs"
                class="form-select"
        >
            <option value="1">1 лага</option>
            <option value="2">2 лаги</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Направление доставки</span>
        <select id="delivery_direction"
                class="form-select"
        >
            <option value="0">Без доставки</option>
            <option value="1">С доставкой</option>
        </select>
    </div>
</div>

<div class="row">
    <button type="button"
            class="btn btn-primary">
        Оправить форму
    </button>
</div>