<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('component/index/head'); %>
</head>
<body>
    <div class="container">
        <%- include('navbar'); %>
    </div>
    <div id="app">
        <%- include('component/index/body'); %>
    </div>
</body>
</html>