<ul class="nav nav-pills nav-fill my-3">
    <li class="nav-item">
        <a id="main_page" class="nav-link active" aria-current="page" href="/">Оснавная</a>
    </li>
    <li class="nav-item">
        <a id="full_info" class="nav-link" href="/person/all_infa">Полный список</a>
    </li>
    <li class="nav-item">
        <a id="order_materials" class="nav-link" href="/order_materials">Заказать материалы</a>
    </li>
</ul>