<!doctype html>
<html lang="ru">
<head>
    <%- include('component/order_material/head'); %>
</head>
<body>
    <div class="container">
        <%- include('navbar'); %>
    </div>
    <div class="container">
        <%- include('component/order_material/body'); %>
    </div>
</body>
</html>