<div class="container">
    <div class="mb-3 mt-10">
        <div class="content p-4 mb-3">
            <h3>
                Информация о человеке
            </h3>
            <div id="select__persone" class="form-group">
                <label for="input">Выбрать человека</label>
                <select id="input"
                        class="form-select"
                >
                    <option selected>Выбрать автора</option>
                </select>
            </div>
        </div>
        <div id="persone__info" class="content p-3">

        </div>
    </div>
    <div class="footer content p-2 flex-row justify-content-center">
        <%- include('footer'); %>
    </div>
</div>